* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4e54c8;
  background: linear-gradient(to right, #8f94fb, #4e54c8);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}

.app-header {
  display: flex;

  /**
 * Logo component
 */
  .app-logo {
    display: inline-block !important;
    margin: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  /**
 * Navigation component
 */
  .navbar {
    margin-left: auto;
    align-self: flex-start;
    Button {
      margin: 30px 10px 0 0;
      color: white;
      border-color: white;
    }
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100%;
  .input-box {
    width: 60%;
    form {
      display: flex;
      .text-field {
        margin: auto;
        label {
          color: white;
        }
        input {
          color: white;
        }
      }
    }
  }
  .detect-button {
    margin-left: 10px;
    width: 20% !important;
    text-transform: capitalize;
  }
}
